TELEGRAM_TOKEN="8988527398:AAGf5Y6pFROU0i93IsyjeYx83bz7XzI29Sk"
OPENAI_API_KEY=
# Optional if you use Telethon or user session features
TELEGRAM_API_ID="33283106"
TELEGRAM_API_HASH="9fdd4dd1d73bd676ba7896392fd7a422"
